/* === Import Tailwind dan Font === */
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/* === Import Swiper === */
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

/* === Base style === */
@layer base {
  html {
    font-family: "Urbanist", system-ui, sans-serif;
  }
}

@theme {
  --color-primary: #435058;
  --color-primary-dark: #374149;
  --color-accent: #f6f7fc;
  --color-surface: #f1f3f6;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* === Swiper Styles === */
.mySwiper {
  width: 100%;
  height: 100%;
}

/* Tombol panah kiri-kanan */
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 100%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 10;
}

/* SVG di tengah tombol */
.swiper-button-next svg,
.swiper-button-prev svg,
.swiper-navigation-icon {
  width: 20px;
  height: 20px;
  display: block;
  margin: auto;
  color: currentColor;
}

.swiper-button-prev {
  left: 20px !important;
}

.swiper-button-next {
  right: 20px !important;
}

/* Hapus pseudo bawaan Swiper agar SVG tampil bersih */
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/* Hover efek */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Bullet pagination */
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
  margin: 0 6px !important;
  border-radius: 100%;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: #38bdf8; /* Sky blue */
  transform: scale(1.25);
}

/* Posisi bullet */
.swiper-pagination {
  bottom: 18px !important;
}

/* Responsif — tombol lebih kecil di layar kecil */
@media (max-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 35px;
    height: 35px;
  }

  .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
  }

  .swiper-button-next svg,
  .swiper-button-prev svg {
    width: 16px;
    height: 16px;
  }
}
